doctype html
html(lang="en")
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js')
    script(type='text/javascript').
      var ctx;
  
      $(function(){
        var weatherText = !{JSON.stringify(json.weather)};
        var stockText = !{JSON.stringify(json.stock)};
        var weatherArray = JSON.parse(stockText);
        var stockArray = JSON.parse(weatherText);
        ctx = $('#myChart').get(0).getContext('2d');

        var data = {
                     labels: stockArray,
                     datasets: [{
                                     fillColor: 'rgba(220, 220, 220, .05)',
                                     strokeColor: 'rgba(220, 220, 220, 1)',
                                     pointColor: 'rgba(220, 220, 220, 1)',
                                     pointStrokeColor: '#fff',
                                     data: weatherArray
                                 }]
                   };
        var newChart = new Chart(ctx).Line(data);
        console.log(weatherArray);
        console.log(stockArray);
      });

      

  body
    form(action='http://127.0.0.1:1337/getinput' method='post')
      #location
        label Sunnyvale, CA
          input(type='radio' name='weather' value='94089' checked='true')#weatheroption
        label Cupertino, CA
          input(type='radio' name='weather' value='95014')#weatheroption

      #company
        label Yahoo!
          input(type='radio' name='stocks' value='yhoo' checked='true')#stockoption
        label Apple
          input(type='radio' name='stocks' value='aapl')#stockoption
        
        input(type='submit')

    h1 #{weather.loc}
    p  #{weather.cond}
 
    hr
    h1 Stocks for #{stock.company}
    p  #{stock.high}
    p  #{stock.low}

    canvas#myChart(width='400' height='400')

